.container{
    background-color: orange;
    max-width: 800px;
    margin: 0 auto;
}

.header{
    background: purple;
    height: 60px;
}

.wrapper{
    background: blue;
    display: flex;
    /*flex-direction: row-reverse;*/
}

.menu{
    background: green;
    width: 30%;
}

.content{
    background: aqua;
    width: 70%;
}

.footer{
    background: red;
    clear: both;
}